<header>
  <h2>Lonwabo Mnyaiza</h2>
  🚀 Welcome to my portfolio!
</header>
<br>
<blockquote>
  Software Development has always been my passion.
</blockquote>

<section>
  <h3>📜 Motivation</h3>
  Hi
  My name is Lonwabo, I am an NMMU IT graduate (Software Development). I
  like to think of myself as a hard worker and I’ve always thought that
  persistence is the difference between success and failure. I am
  optimistic and able to adapt to new situations timely. Learning new
  skills every day; opening myself to new experiences I would say is an
  accurate description of myself.

  I like meeting new people who have interesting ideas or other ways of
  looking at a problem. Also I like working with people who know what
  they are doing and can teach me something new. I love technology and
  find it intriguing so I always find myself in a bad mood without it. I
  work well with various technologies but I think that’s because I’ve
  grown around technology and I’m very flexible which means I can learn
  a new technology relatively quickly.

  In life if you want to excel in anything you have to have goals, you
  need to know what you’re aiming for. My first plan of action is always
  drafting my long and short term goals to assist me in my endeavors.

  I believe what sets me apart is that I am hard working and push myself
  to achieve both my short term and long term goals. I have a clear
  passion for IT. But working hard today is sometimes not enough you
  also have to work smart you need to know which areas you need help,
  and ask for that help. One of the facets I like about myself is that I
  am a realist and know sometimes your best will not be good enough in
  those cases I will seek assistance from the people who are better
  knowledgeable about that particular subject.

  I hate failing so I always try my best and a bit more. Completing
  anything properly requires determination and diligence (“It takes
  preparation to persevere”).

  I think I would be a good fit because I have the drive to succeed in
  what I do and I am able to read and communicate effectively.
</section>

<br>
<section class="light">
  <h3>⚽ Hobbies</h3>
  <ul>
    <li>Soccer</li>
    <li>Chess</li>
    <li>Looking to start boxing</li>
    <li>Maintaining a Software Development Portfolio [2012-]</li>
  </ul>

  <h3>🏆 Accomplishments</h3>

  <ul>
    <li>Passed matric with a bachelors pass</li>
    <li>A+ cisco certificate</li>
    <li>N+ cisco certificate</li>
    <li>Graduated with a National Diploma in IT from NMMU</li>
    <li>CSIR Hack-a-thon [2015]</li>
  </ul>

  <h3>🤔 Currently Learning</h3>
  <ul>
    <li>Java</li>
    <li>Linux</li>
    <li>React & React Native</li>
  </ul>
</section>

<section class="left">
  <h3>🌮 Work History</h3>

  I had a volunteer job as my first foray into dev life when I was in
  JHB where I was mostly maintaining the code base of the various apps I
  worked on a banking app.

  <hr>
  <h4>TCS (Tata Consulting Services)
  </h4>

  We were consulting and tasked with building the new KFC site using Sitecore (.NET MVC).
  I was an intern working on data capturing for a new KFC site,
  mostly used MS office products like excel but would sometimes write scripts in vba and c# to automate some
  repetitive activities.

  This included tasks like:
  <ul>
    <li>Calling Stores and getting relevant information from them.</li>
    <li>Capturing data</li>
    <li>Cleaning data</li>
    <li>Validating data</li>
    <li>And finally storing data</li>
  </ul>

  <hr>

  <h4>Motivation</h4>

  Working on an ASP .NET mvc solution that was servicing a pharmaceutical company (Bayer)
  This included tasks like:
  Having meetings with clients and gathering requirements.
  Drafting the spec doc and awaiting approval of this doc from management
  And Deving the feature.

  <hr>

  <h4>Derivco</h4>

  I was part of a dev ops team and we would provide support to other
  internal teams. Project that I remember from my time there is: Create
  a microservice using C# as the backend and Rabbit as our pub/sub
  messaging system. And the front-end was created using Angular3 IS
  (Interactive Solutions): Call center driven business. We had to mostly
  manage data so heavy use of T-SQL And format the data received by
  various clients so that our apps could consume them. One app that I
  can remember is where we moved large amounts of data and I made the
  task run in parallel to make this process more efficient. VMCS: Mostly
  working on M-Files which I'd think is a competitor to MS SharePoint.
  So I'd create plugins that users requested to automate their
  workflows, this was using the com api.

  <hr>

  <h4>Codeo</h4>
  I've been at codeo for just over a year now. The current team I'm in
  mainly works on features for QSR (so things like storefronts,
  checkouts, vouchers, payments). Our workflow is as follows: • We use
  trello as our ticketing system and move those through the pipeline •
  We have a code review process • Then ci/cd via Octopus and Jenkins We
  have daily stand-up and use agile methodology. I'm responsible for
  maintaining the codebase, creating new features when need be and
  writing automated tests. I am proficient in C#, Javascript, Python,
  SqlServer, Mysql, HTML, CSS But we have codebases in AngularJs and
  Vue.js which I sometimes get involved in. We have Intellij licenses as
  to add productivity to our workflows by using IDEs Started with
  creating a new feature that would allow users create update delete app
  cards (metadata and image storage) for menu items And have contributed
  to projects like: Redacting sensitive informaiton from logs Adding
  validation to vouchers system Reports for users and creating and
  fixing bugs on the dashboard system Creating a Node.js script to
  migrate our internal data into Amazon Aurora. Audits for when users
  modify important infomation.
  I've dabbled in or not a pro yet:
  <ul>
    <li>AWS(Amazon Web Services) using aurora as a db and have a theoretical
      understanding of various AWS services as I did a course on this, but I
      haven't had much practical experience in the real world.</li>
    <li>Nginx</li>
    <li>Security OWASP and the senior at the company are evaluating security
      to comply with the POPI act (which I think is similar to Europe's
      GDPR)</li>
    <li>Vim - Learning and getting better at using vim mostly for
      productivity</li>
    <li>Sumo Logic Logging. Currently learning Java Linux
      Working on completing my degree this year</li>
  </ul>
</section>

<hr>
<h3>Thanks for reading!</h3>