<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <h1 class="name">{{ member.firstName }} {{ member.lastName }}</h1>
            <img class="avatar-image" src="../../assets/avatar.png" alt="Member avatar image.">
        </div>
        <div class="flip-card-back">
            <section class="email">
                <h3>Email:</h3>
                <p>{{ member.email }}</p>
            </section>

            <section class="date-of-birth">
                <h3>Date of Birth:</h3>
                <p>{{ member.dateOfBirth }}</p>
            </section>

            <section class="address">
                <h3>Address:</h3>
                <p>
                    {{ member.address }},
                    <br />
                    {{ member.city }},
                    <br />
                    {{ member.country }},
                    <br />
                    {{ member.zipCode }} 
                </p>
            </section>
        </div>
    </div>
</div>